.header {
    display: flex;
    justify-content: center; // flex-end center space-between
    align-items: center; // flex-end center stretch baseline
    padding: $base * 2;
    font-size: 0.9rem;
    width: 100%;
    .header_holder {
        width: 100%;
        max-width: 1350px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .header_navi {
            display: flex;
            align-items: center;
            .header_brand {
                img {
                    width: 80px;
                }
            }
            nav {
                margin-left: $base * 3;
                .header_navigation_items {
                    display: flex;
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    margin-right: 1rem;

                    .header_navigation_item {
                        margin-right: $base * 3;
                        position: relative;
                        font-size: $ui_font_size;
                        font-weight: $ui_bold;

                        a {
                            text-decoration: none;
                            color: $link_color;
                        }
                    }
                }
            }
            .inspiration_subnav,
            .find_work_subnav,
            .hire_subnav {
                padding: $base * 2;
                display: flex;
                position: absolute;
                top: 40px;
                background-color: white;
                z-index: 2;
                display: none;

                &opened{
                    display: block;
                }

                .main_nav,
                .find_work_nav,
                .hire_nav {
                    width: 350px;
                    
                    ul {
                        list-style: none;
                        padding: 0;
                        .inspiration_item,
                        .find_work_item,
                        .hire_item {
                            padding: $base*2;
                            a {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                div {
                                    display: flex;
                                    svg {
                                        width: 32px;
                                    }
                                    .dropdown_item_text {
                                        display: block;
                                        label {
                                        }
                                        p {
                                            margin: 0;
                                        }
                                    }
                                }

                                .arrow {
                                    .fa {
                                    }
                                }
                            }
                        }
                    }
                }
                .category_nav {
                    .header_category_nav {
                        width: 150px;
                        .label {
                        }
                    }
                    ul {
                        list-style: none;
                        padding: 0;
                        .category {
                            a {
                            }
                        }
                    }
                }
            }
        }

        .header_ctas {
            display: flex;
            align-items: center;
            .search {
                margin-right: $base * 3;
                font-size: 20px;
                color: rgb(172, 172, 172);
                .fa {
                }
            }
            .boton {
                padding: $base $base * 1.5;
                color: white;
                font-weight: $ui_bold;
                background-color: $corporateColor;
                font-size: $ui_font_size;
                border-radius: 5px;
                border: none;
                cursor: pointer;
            }
        }
    }
}
