.header {
    display: flex;
    justify-content: center; // flex-end center space-between
    align-items: center; // flex-end center stretch baseline
    padding: $base * 2;
    font-size: 0.9rem;
    width: 100%;

    .header_holder {
        width: 100%;
        max-width: 1350px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .header_navi {
            display: flex;
            align-items: center;
            .header_brand {
                a {
                }
            }
            nav {
                margin-left: $base * 3;
                .header_navigation_items {
                    display: flex;
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    margin-right: 1rem;

                    .header_navigation_item {
                        margin-right: $base * 3;
                        position: relative;
                        font-size: $ui_font_size;
                        font-weight: $ui_bold;

                        a {
                            text-decoration: none;
                            color: $link_color;
                        }
                    }
                    .header_navigation_item:hover > a {
                        color: $corporateColor;
                    }
                }
            }
            .subnav {
                overflow: hidden;
                position: absolute;
                top: 30px;
                background-color: white;
                z-index: 2;
                display: none;
                border-radius: 20px;
                box-shadow: 0px 6px 20px 0px rgba(196, 196, 196, 0.27);
                background-color: rgba(255, 255, 255, 0.5);
                backdrop-filter: blur(20px);

                &.opened {
                    display: flex;
                }

                .main_nav,
                .find_work_nav,
                .hire_nav {
                    width: 350px;
                    margin: $base * 2;

                    ul {
                        list-style: none;
                        padding: 0;
                        .inspiration_item,
                        .find_work_item,
                        .hire_item {
                            padding: $base * 2 $base * 3;
                            border-radius: 10px;
                            a {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                div {
                                    display: flex;
                                    svg {
                                        width: 32px;
                                    }
                                    .dropdown_item_text {
                                        display: block;
                                        margin-left: $base * 2;
                                        color: black;

                                        .title {
                                            font-size: $ui_font_size;
                                        }

                                        .description {
                                            margin: 0;
                                            font-size: 13px;
                                            font-weight: normal;
                                            color: grey;
                                        }
                                    }
                                }

                                .arrow {
                                    color: $corporateColor;
                                    opacity: 0;
                                    visibility: hidden;
                                    transform: translateX(-20px);
                                    .fa {
                                    }
                                }
                            }
                        }
                        .inspiration_item:hover,
                        .find_work_item:hover,
                        .hire_item:hover {
                            background-color: rgba(255, 255, 255, 0.795);
                        }

                        .inspiration_item:hover .arrow,
                        .find_work_item:hover .arrow,
                        .hire_item:hover .arrow {
                            opacity: 1;
                            visibility: visible;
                            transform: translateX(0px);
                            transition: all 500ms ease;
                        }

                        .inspiration_item:hover .title,
                        .find_work_item:hover .title,
                        .hire_item:hover .title {
                            color: $corporateColor;
                        }
                    }
                }
                .category_nav {
                    padding: $base * 4;
                    margin: 0;
                    background-color: rgba(255, 255, 255, 0.274);
                    backdrop-filter: blur(20px);
                    .header_category_nav {
                        width: 150px;

                        .label {
                            color: black;
                            font-size: $ui_font_size;
                        }
                    }
                    ul {
                        list-style: none;
                        padding: 0;
                        .category {
                            margin: $base * 2 0;
                            a {
                            }
                            a:hover {
                                color: black;
                            }
                        }
                    }
                }
            }
        }

        .header_ctas {
            display: flex;
            align-items: center;
            .search_bar {
                display: flex;
                align-items: center;

                .input {
                    margin-right: $base;

                    border: solid 1px grey;
                    border-radius: 10px;
                    padding: $base;
                    background: transparent;
                    position: absolute;
                    right: 50px;
                    opacity: 0;
                    visibility: hidden;
                    transition: opacity 300ms ease;

                    &.visible {
                        visibility: visible;
                        opacity: 1;
                        transition: opacity 300ms ease;
                    }
                }
                .search {
                    margin-right: $base * 3;
                    font-size: 20px;

                    .fa {
                        color: rgb(172, 172, 172) !important;
                    }
                }
            }

            .boton {
                color: white;
            }
        }
    }
}
