.main {
    display: flex;
    justify-content: center; // flex-end center space-between
    align-items: center; // flex-end center stretch baseline
    padding: $base * 2;
    font-size: 0.9rem;
    width: 100%;
    .main_holder {
        width: 100%;
        max-width: 1350px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.filter_nav_holder {
    display: flex;
    flex-direction: column;
    width: 100%;
    .filter_nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .filter_views {
            .dropdown_button {
                position: relative;
                display: flex;
                justify-content: space-between;

                p {
                }
            }
            .arrow {
                margin-left: $base * 2;
                .fa {
                }
            }

            // .dropdown_options {
            //     position: absolute;
            //     padding: $base * 2;
            //     border-radius: 10px;
            //     background-color: whitesmoke;
            //     width: 150px;

            //     .option {
            //     }
            // }
        }
    }
    .filter_categories {
        ul {
            list-style: none;
            padding: 0;
            display: flex;
            .category {
                padding: $base;
                margin-right: $base * 3;
            }
        }
    }
    .filter_settigns {
        .filter_button {
            display: flex;
            justify-content: space-between;

            .label {
            }
            .filter {
                margin-left: $base * 2;
                .fa {
                }
            }
        }
    }
}

.home_grid {
    width: 100%;
    .home_grid_holder {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: $base * 3;
        .card {
            .image {
                position: relative;
                img {
                    width: 100%;
                    height: 300px;
                    background-color: whitesmoke;
                }
                .image_hover {
                    position: absolute;
                    background-color: rgba(212, 41, 41, 0.192);

                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;

                    .image_hover_content {
                        padding: $base;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        .project_name {
                        }
                        .icons {
                            display: flex;

                            .folder {
                                .fa {
                                    padding: $base;
                                    background-color: white;
                                    border-radius: 10px;
                                    margin-right: $base;
                                }
                            }
                            .heart {
                                .fa {
                                    text-align: center center;
                                    padding: $base;
                                    background-color: white;
                                    border-radius: 10px;
                                }
                            }
                        }
                    }
                }
            }
            .details {
                display: flex;
                justify-content: space-between;
                .author {
                    display: flex;
                    align-items: center;
                    img {
                        width: 40px;
                        height: 40px;
                        background-color: whitesmoke;
                        border-radius: 50%;
                    }
                    .author_name {
                    }
                    .badge_pro {
                    }
                    .badge_team {
                    }
                }
                .statistics {
                    display: flex;
                    align-items: center;
                    .likes {
                        display: flex;
                        .heart {
                            .fa {
                            }
                        }
                        p {
                        }
                    }
                    .views {
                        display: flex;
                        .eye {
                            .fa {
                            }
                        }
                        p {
                        }
                    }
                }
            }
        }
    }
}
