.main {
    display: flex;
    justify-content: center; // flex-end center space-between
    align-items: center; // flex-end center stretch baseline
    padding: $base * 2;
    font-size: 0.9rem;
    width: 100%;
    .main_holder {
        width: 100%;
        max-width: 1350px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.filter_nav_holder {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: $base * 5 0;

    // .filter_views {
    //     .dropdown_button {
    //         display: flex;
    //         justify-content: space-between;
    //         padding: $base $base * 2;
    //         border: solid 2px $corporateColor;
    //         border-radius: 10px;
    //         .label {
    //         }
    //         .arrow {
    //             margin-left: $base * 2;
    //             .fa {
    //             }
    //         }
    //     }
    // }
}
.filter_categories {
    ul {
        list-style: none;
        padding: 0;
        display: flex;
     
        .category {
            padding: $base $base * 2;
            margin: 0 $base;
            border-radius: 10px;
            user-select: none;
            cursor: pointer;
            
            &.active {
                
                border: solid 1px $corporateColor;
                color: $corporateColor;
                font-weight: $ui_bold;


                a {
                    color: black;
                }
            }
        }
    }
}

.search_bar {
    display: flex;
    align-items: center;
    position: relative;
    
    .input {
        margin-right: $base;
        display: none;
        border: solid 1px grey;
        border-radius: 10px;
        padding: $base;
        background: transparent;
        position: absolute;
        right: 50px;
        

        &.visible {
            display: flex;
        }
    }

   
    .search {
        margin-right: $base * 3;
        font-size: 20px;
        
       
        


        .fa {
            color: rgb(172, 172, 172) !important;
        }
    }
}

.filter_settigns {
    .filter_button {
        display: flex;
        justify-content: space-between;
        padding: $base $base * 2;
        background-color: rgb(250, 250, 250);
        border: solid 2px rgb(219, 219, 219);
        border-radius: 10px;

        .label {
        }
        .filter {
            margin-left: $base * 2;
            .fa {
            }
        }
    }
}

.home_grid {
    width: 100%;

    .home_grid_holder {
        // display: grid;
        // grid-template-columns: 1fr 1fr 1fr;
        // grid-gap: $base * 3;
        .card {
            width: calc(100%/3);
            padding: $base * 2;
            .image {
                position: relative;

                img {
                    width: 100%;
                    height: 300px;
                    background-color: whitesmoke;
                    border-radius: 0 30px 30px 30px;
                    overflow: hidden;
                    box-shadow: 0px 6px 20px 0px rgba(196, 196, 196, 0.27); 
                }
                .image_hover {
                    position: absolute;
                    background: linear-gradient(
                        0deg,
                        rgb(234, 76, 137) 0%,
                        rgba(0, 208, 255, 0) 100%
                    );
                    border-radius: 0 30px 30px 30px;
                    overflow: hidden;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    display: none;

                    .image_hover_content {
                        padding: $base * 3;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        left: 0;

                        .project_name {
                            color: white;
                        }
                        .icons {
                            display: flex;

                            .folder {
                                font-size: 20px;
                                color: grey;
                                .fa {
                                    padding: $base * 1.5;
                                    background-color: white;
                                    border-radius: 10px;
                                    margin-right: $base;
                                }
                            }
                            .heart {
                                font-size: 20px;
                                color: grey;
                                .fa {
                                    text-align: center center;
                                    padding: $base * 1.5;
                                    background-color: white;
                                    border-radius: 10px;
                                }
                            }

                            .folder:hover,
                            .heart:hover {
                                color: $corporateColor;
                            }
                        }
                    }
                }
            }
            .image:hover > .image_hover {
                display: block;
            }
            .details {
                display: flex;
                justify-content: space-between;
                padding: $base * 2 $base;

                .author {
                    display: flex;
                    align-items: center;
                    a {
                        display: flex;
                        align-items: center;
                        color: black;
                        img {
                            width: 40px;
                            height: 40px;
                            background-color: whitesmoke;
                            border-radius: 50%;
                        }
                        .author_name {
                            margin: 0 $base * 2;
                        }
                    }

                    .badge_pro, .badge_team {
                        margin-right: $base;
                        padding: $base * 0.1 $base * 0.5;
                        background-color: rgb(211, 211, 211);
                        color: white;
                        border-radius: 5px;
                        font-size: $small;
                        font-weight: $ui_bold;
                        text-transform: uppercase;

                        &.no_pro{
                            display: none;
                        }
                        
                        &.no_team{
                            display: none;
                        }
                    }
    
                }
                .statistics {
                    display: flex;
                    align-items: center;
                    .likes {
                        display: flex;
                        .heart {
                            margin-right: $base;
                            color: grey;
                            .fa {
                            }
                        }
                        p {
                            font-size: $small;
                        }

                        .heart:hover {
                            color: $corporateColor;
                        }
                    }
                    .views {
                        display: flex;
                        margin-left: $base * 2;
                        .eye {
                            margin-right: $base;
                            color: grey;
                            .fa {
                            }
                        }
                        p {
                            font-size: $small;
                        }
                        .eye:hover {
                            color: $corporateColor;
                        }
                    }
                }
            }
            &.hidden{
                display: none;
            }
        }
    }
}
